@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

@font-face {
  font-family: "mequran";
  src: url("/me_quran.ttf");
  font-weight: bold;
}

:root {
  --bg-color: #040c23;
  --primary: #863ed5;
  --secondary: #a19cc5;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

.navbar {
  background-color: #121931;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav {
  display: flex;
  padding: 1.2rem 7%;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-nav .logo a {
  color: var(--primary);
  font-size: 2rem;
}

.navbar .navbar-nav .logo a span {
  color: var(--text-color);
}

.navbar .navbar-nav .navbar-item a {
  font-size: 1.5rem;
  color: var(--text-color);
}

.navbar .navbar-nav .navbar-item a::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--primary);
  padding-bottom: 0.5rem;
  transform: scaleX(0);
}

.navbar .navbar-nav .navbar-item a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s;
}

.navbar .navbar-extra {
  display: flex;
  padding: 0 7%;
  justify-content: space-between;
}
.navbar .navbar-extra .extra-item {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
}

.navbar .navbar-extra .extra-item i {
  font-size: 2rem;
  font-weight: 400;
  color: var(--primary);
  background-color: var(--text-color);
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.navbar .navbar-extra .extra-item p {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.container {
  margin-top: 14rem;
  padding: 0 7%;
}

.container .section .row {
  color: var(--text-color);
}

.container .section .row .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid var(--secondary);
  cursor: pointer;
}
.container .section .row .item p {
  font-size: 1.2rem;
}

.container .section .row .item .number {
  width: 3rem;
  height: 3rem;
  background: url(../img/icon-number.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 20%;
}

.container .section .row .item .nama-surat {
  text-align: center;
}

.container .section .row .item .nama-surat p {
  color: var(--primary);
}
.container .section .row .item .jumlah-ayat {
  width: 10rem;
  text-align: center;
}

.container .section .row .item .jumlah-ayat h2 {
  /* font-size: 2rem; */
  font-family: "mequran";
}

/* CSS SURAT.HTML */
.row .item .ayat {
  width: 100%;
  padding-left: 3rem;
}
.row .item .ayat h2 {
  font-family: "mequran";
  font-size: 3rem;
  text-align: right;
  margin-bottom: 2rem;
}
.row .item .ayat p {
  text-align: justify;

  color: var(--secondary);
}

/* DOA.HTML */
.row .item .doa {
  width: 100%;
  padding: 0 1rem;
  line-height: 2;
  text-align: center;
}

.row .item .doa h3 {
  font-size: 1.5rem;
}
.row .item .doa h2 {
  font-size: 2.5rem;
  font-family: "mequran";
}
.row .item .doa p {
  color: #863ed5;
}
.row .item .doa h4 {
  color: var(--secondary);
}

/* ABOUT.html */

.about-section {
  text-align: center;
  line-height: 2.5;
}

.about-section h2 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
}

.about-section h2 span {
  color: var(--primary);
}

.about-section .text-arab {
  font-family: "mequran";
  color: var(--primary);
  font-size: 3rem;
}
.about-section p {
  color: var(--secondary);
  font-size: 1.5rem;
  text-align: justify;
}
.about-section .copyright {
  text-align: center;
  margin-top: 2rem;
}
.about-section .copyright a {
  color: var(--text-color);
}

.about-section .copyright a:hover {
  color: var(--primary);
}

.about-section .social-media {
  display: inline-block;
}
.about-section .social-media a {
  font-size: 3rem;
  padding: 0 2rem;
  color: var(--text-color);
}
.about-section .social-media a:hover {
  color: var(--primary);
}

/* NGAJI.HTML */
#item-ngaji {
  display: flex;
  flex-wrap: wrap;
  /* gap: 1rem; */
  justify-content: center;
  direction: rtl;
}

.row .hijaiyah {
  width: 11rem;
  text-align: center;
  padding: 3rem 0;
  font-family: "mequran";
  border-radius: 0.5rem;
  cursor: pointer;
}

.row .hijaiyah:hover {
  background-color: var(--primary);
}

.row .hijaiyah .huruf {
  font-size: 2.5rem;
}
.row .hijaiyah .huruf span {
  font-size: 1.5rem;
  color: var(--secondary);
}

/* UNDERCONTRUCTION */

.under-conturcion {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  height: 30rem;
  background: url(/src/img/work-in-progress.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
  .row .hijaiyah {
    width: 8rem;
    padding: 2rem 0;
  }
}
